body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #028482;
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*Navigation Styles*/
nav{
    background-color: #004c4c;
    padding: 10px 0;
    text-align: center;
}
.nav-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav-links ul li{
    margin: 0 25px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-links ul li a:hover{
    text-decoration: underline;
}

/*Header Section*/
.header {
    text-align: center;
    padding: 20px;
    background-color: #028482;
    color: white;
}
.header h1{
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
}
.header p{
    font-size: 20px;
}
/* Profile Section */
.profile {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    text-align: center;

}
.profile img{
    
    border-radius: 500px;
    width: 120px;
    height:120px;
    object-fit: cover;
    margin-bottom: 10px;
    padding: 5px;
   
}
  .role {
    font-size: 1.2em;
    color: white;
  }
  /* Contact Form Section */
.contact-form-section {
    padding: 40px;
    background-color: #f4f4f4;
  }
  
  .contact-form-section h2 {
    text-align: center;
    color: #028482;
  }
  
  .form-control {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit {
    background-color: #028482;
    color: white;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #026f6f;
  }
  /* Social Media Section */
.social-media {
    text-align: center;
    padding: 20px;
   
  }
  
  .social-media h2 {
    color: white;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
  }
  .social-media img{
    width: 30px;
    height: 30px;
    margin-right: 8px;
  
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
/*Footer Section*/
.footer{
    background-color: #028482;;
    color: white;
    padding: 20px;
    margin-top: auto;
}
.footer-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    margin: 10px;
}
.footer h1{
    font-size: 1.5em;
}
.footer p{
    margin: 5px 0;
}
footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 16px;
    font-size: 14px;
}
